In [1]:
# Import Dependencies
import pandas as pd

In [6]:
# import the data from the .csv file 
client_data = 'Resources/client_dataset.csv'

In [8]:
# Read our data file with the Pandas library by creating a new dataframe
client_df=pd.read_csv(client_data)
client_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54639 entries, 0 to 54638
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   first        54639 non-null  object
 1   last         54639 non-null  object
 2   job          54639 non-null  object
 3   phone        54639 non-null  object
 4   email        54639 non-null  object
 5   client_id    54639 non-null  int64
 6   order_id     54639 non-null  int64
 7   order_date   54639 non-null  object
 8   order_week   54639 non-null  int64
 9   order_year   54639 non-null  int64
 10  item_id      54639 non-null  object
 11  category     54639 non-null  object
 12  subcategory  54639 non-null  object
 13  unit_price   54639 non-null  float64
 14  unit_cost    54639 non-null  float64
 15  unit_weight  54639 non-null  float64
 16  qty          54639 non-null  int64
 17  line_number  54639 non-null  int64
dtypes: float64(3), int64(6), object(9)
memory usage: 7.5+ MB

In [9]:
# View the records of the data
## Data contains 54,639 rows and 17 columns
client_df
client_df.head(10)

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1
5,Jessica,Reyes,"Production designer, theatre/television/film",5016915923,jessica.reyes@grimes.net,33615,1327730,2023-05-02,18,2023,BMB23158-88-9A,decor,plants,172.84,154.44,2.79,78,0
6,Brian,Moore,Barista,+1-893-400-2733x982,moore.official@martinez.com,87213,8080280,2023-04-19,16,2023,UAC50632-25-4E,consumables,kitchen supplies,245.56,231.95,1.73,56,5
7,Jesus,Wright,Theme park manager,605.947.9467x66513,wright.jesus.7579@meadows.com,46709,8946782,2023-02-14,7,2023,UEU25316-01-1U,consumables,pens,20.99,16.97,5.12,22,4
8,Rebecca,Brown,Chiropodist,665-955-0156x926,rbrown850@lewis.info,73362,9394118,2023-05-13,19,2023,DDA06248-98-7Z,consumables,paper products,83.86,59.00,0.27,49,3
9,Greg,Garcia,"Secretary, company",(231)342-7216x1421,ggarcia@bentley.biz,58789,9665852,2023-04-14,15,2023,DUU85042-87-5E,furniture,seating,66.88,54.15,2.47,78,1

In [10]:
#Use the describe function to gather some basic statistics
client_df.describe()

,client_id,order_id,order_week,order_year,unit_price,unit_cost,unit_weight,qty,line_number
count,54639.000000,5.463900e+04,54639.000000,54639.000000,54639.000000,54639.000000,54639.000000,5.463900e+04,54639.000000
mean,54837.869416,5.470190e+06,11.359139,2022.993064,136.267207,99.446073,5.004116,5.702646e+02,2.979667
std,25487.438231,2.599807e+06,7.023499,0.082997,183.873135,133.164267,5.326599,1.879552e+04,2.436320
min,10033.000000,1.000886e+06,1.000000,2022.000000,0.010000,0.010000,0.000000,0.000000e+00,0.000000
25%,33593.000000,3.196372e+06,6.000000,2023.000000,20.800000,14.840000,1.450000,3.200000e+01,1.000000
50%,53305.000000,5.496966e+06,11.000000,2023.000000,68.310000,49.890000,3.240000,6.800000e+01,3.000000
75%,78498.000000,7.733869e+06,17.000000,2023.000000,173.160000,125.570000,6.890000,1.700000e+02,5.000000
max,99984.000000,9.998480e+06,52.000000,2023.000000,1396.230000,846.270000,46.430000,3.958244e+06,9.000000

In [11]:
#What three item categories had the most entries?
## find how many entries each category has
category_count= client_df["category"].value_counts()
category_count

category
consumables    23538
furniture      11915
software        8400
decor           7954
electronics     2832
Name: count, dtype: int64

In [12]:
## Print out the top 3 categories with the most entries
category_count.head(3)

category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [13]:
#For the category with the most entries, which subcategory had the most entries
## check the total count of sub categories
subcategory_count= client_df["subcategory"].value_counts()
subcategory_count

subcategory
bathroom supplies     6424
paper products        5874
kitchen supplies      5746
tables                4540
misc                  4286
stands                4201
accounting            3756
project management    3522
plants                3466
wall art              3093
seating               2664
pens                  2603
logistics             1122
telecom                978
audio visual           732
cabling                655
desks                  510
computers              467
Name: count, dtype: int64

In [14]:
# Creating a new data frame to hold the consumables sub category  and its values
consumables_subcategory = client_df.loc[client_df['category']=='consumables','subcategory'].value_counts()
consumables_subcategory
# Printing out the subcategory with the most entries
consumables_subcategory.head(1)

subcategory
bathroom supplies    6424
Name: count, dtype: int64

In [15]:
#Which five clients had the most entries in the data?
##Combining fucntions to create the top 5 clients based on entries in the data
clients_usage =client_df['client_id'].value_counts().head(5)
print(f" The top 5 clients with the most entries in the data are")
clients_usage

 The top 5 clients with the most entries in the data are

client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [30]:
#How many total units (the qty column) did the client with the most entries order?
# check how many entris the client_id =33615 has
max_client_units = client_df.loc[client_df['client_id']== 33615,'qty'].sum()
client_id_max= clients_usage.index[0]
print(f"The top client {client_id_max} has {max_client_units} units")

The top client 33615 has 64313 units

In [34]:
#Create a column that calculates the subtotal for each line using the unit_price and the qty.
## Creating the column 'subtotal that equals the unit price* the qty of each entry
client_df['subtotal']= client_df['unit_price']* client_df['qty']
client_df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,subtotal
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1,115164.00
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0,523.95
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6,527.28
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3,1056.18
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1,3902.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,UCA28532-31-0B,software,logistics,83.13,51.60,2.25,33,8,2743.29
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,EBD29277-23-7U,consumables,kitchen supplies,206.59,175.46,11.70,47,0,9709.73
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,EBD30093-55-9Z,consumables,bathroom supplies,65.66,57.31,4.16,475,6,31188.50
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,XMZ38239-49-3D,furniture,stands,1.48,1.22,18.04,112,0,165.76
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,ZCZ05589-50-5D,software,project management,3.01,1.61,2.07,1031,5,3103.31